body {
    background:#000;
    color:#0f0;
    font:14px monospace;
    padding:10px;
    margin:0;
}

a {
    color:#fff;
    text-decoration:none;
    cursor:pointer;
    display:inline-block;
    margin-right:10px;
}

a:hover,
a.a {
    color:#0f0;
    text-decoration:underline;
}

#o {
color:#aaa;
white-space:pre-wrap;
margin:10px 0;
line-height:1.4;
}

.c {
    animation:b 1s step-end infinite;
}

@keyframes b {
    50% { opacity:0 }
}

@media (max-width:500px) {
    a {
        display:block;
        margin:5px 0;
    }
}
